<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
    <title>{% block title %}Vinicius Ferreira{% endblock %}</title>
    <script src="https://unpkg.com/scrollreveal"></script>

</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main class="sobremim">
        <div class="apresentacao-quemsou">
            <h3>Olá, Me chamo <span style="color: #2850c3; font-weight: 700;">Vinicius Ferreira</span></h3>
            <p>Sou formado em Engenharia da Computação e, desde 2021, atuo como Desenvolvedor Full Stack e Suporte Técnico, unindo habilidades em desenvolvimento de soluções web e suporte técnico eficiente para atender às necessidades de empresas e usuários.

                <p style="margin-top: 5px;">Minha experiência como desenvolvedor abrange tecnologias como HTML5, CSS3, JavaScript e React.js no front-end, além de Python, PHP e bancos de dados como SQL e MySQL no back-end. Tenho expertise em criar sistemas escaláveis, automatizados e otimizados, sempre com foco na excelência da experiência do usuário e na eficiência dos processos.</p>
                
                <p style="margin-top: 5px;">Na área de suporte técnico, realizo atendimento presencial e remoto, garantindo a triagem e resolução de chamados relacionados a bugs, melhorias e suporte técnico em plataformas corporativas. Minha atuação inclui o gerenciamento de chamados em sistemas de ticketing, assegurando conformidade com SLAs, consulta e validação de dados em bancos SQL para suporte em correções de sistemas, e manutenção de dispositivos como notebooks, desktops e periféricos.</p>

                <p style="margin-top: 5px;">Com uma abordagem focada em resultados, inovação e aprendizado contínuo, dedico-me a implementar soluções que otimizam processos e garantem a satisfação dos clientes e colaboradores, sempre buscando contribuir de maneira significativa para o sucesso das empresas em que atuo.</p></p>
        </div>
        <div class="apresentacao-publicoalvo">
            <div class="mensagem-publicoalvo">
                <h3>Transformando ideias em realidade</h3>
                <p> Minha abordagem sempre é focada na busca por soluções práticas e inovadoras para os desafios técnicos que enfrento, com compromisso em entregar resultados de qualidade. Eu me defino como um profissional <strong>inovador</strong>, <strong>determinado</strong> e <strong>colaborativo</strong>, e estou constantemente em busca de novos desafios que me permitam aplicar meu conhecimento e continuar crescendo como profissional.</p>
            </div>
            <div class="publico-alvo-infos">
                <div class="publico-alvo-infos-box">
                    <div style="color: #2850c3; font-weight: bold" class="anos">4+</div>
                    <div class="texto">Anos de experiência</div>
                </div>
                <div class="publico-alvo-infos-box">
                    <div style="color: #2850c3; font-weight: bold" class="anos">15+</div>
                    <div class="texto">Projetos concluidos</div>
                </div>
            </div>
        </div>  
        <div class="conhecimentos">
            <div class="linguagens">
                <h3>Principais linguagens</h3>
                <ul>
                    <li><img src="../static/image/arrow.png" alt="">Html</li>
                    <li><img src="../static/image/arrow.png" alt="">CSS</li>
                    <li><img src="../static/image/arrow.png" alt="">JavaScript</li>
                    <li><img src="../static/image/arrow.png" alt="">Python</li>
                    <li><img src="../static/image/arrow.png" alt="">Php</li>
                    <li><img src="../static/image/arrow.png" alt="">SQL</li>
                </ul>
            </div>
            <div class="vamosconversar">
                <h3>Vamos trabalhar juntos</h3>
                <a href="{{ url_for('contato') }}">Clique aqui! <img src="../static/image/seta-direita.png" alt=""> </a>
            </div>
        </div>        
    </main>
    {% endblock %}

    
</body>
</html>