<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icon.ico">
    <script src="https://unpkg.com/scrollreveal"></script>

  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <main class="experiencias">
      <div class="experiencias-box">
        <div class="minhas-experiencias">
          <h3>Minhas experiência</h3>
          <div class="experiencias-trabalhos">
              <div class="experiencias-cada-box">
                <div>
                  
                  <h4> <img src="../static/image/arrow.png" alt="" />2022 - Atual - Assistente de TI Help Desk - ACBEU</h4>
                </div>
                <p>
                  Responsável por fornecer suporte técnico completo e atendimento a usuários, resolvendo chamados com eficiência e realizando assistência tanto presencial quanto remota. Responsável pelo suporte em todas as unidades da Maple Bear e ACBEU, assegurando a satisfação dos usuários e a rápida resolução de problemas técnicos.
                </p>
              </div>
              <div class="experiencias-cada-box">
                <div>
                  
                  <h4><img src="../static/image/arrow.png" alt="" />2024 - 2025 - Analista de Suporte Técnico (PJ | Remoto) - Tech Solutions</h4>
                </div>
                <p>
                  Atendimento técnico a usuários em plataformas corporativas, com foco na triagem e resolução de chamados relacionados a bugs, melhorias e suporte técnico. Gerenciamento de chamados em sistemas de ticketing, consulta a bancos de dados SQL para validação e correção de sistemas, além de suporte remoto e manutenção de dispositivos.
                </p>
              </div>

              <div class="experiencias-cada-box">
                <div>
                  <h4><img src="../static/image/arrow.png" alt="" /> 2021 - 2022 - Estágio de Desenvolvimento - WebLaunch Solutions</h4>
                </div>
                <p>
                  Desenvolvimento de sites e aplicações web com foco em front-end e back-end.
                  Criação de interfaces responsivas com HTML, CSS, JavaScript e Bootstrap,
                  implementação de funcionalidades server-side com PHP e MySQL.
                </p>
              </div>
              
          </div>
        </div>

        <div class="oque-faco">
          <h3>Conhecimentos</h3>        
          <h4>Suporte Técnico</h4>
          <div><img src="../static/image/arrow.png" alt="" /> Office 365 e Active Directory</div>
          <div><img src="../static/image/arrow.png" alt="" />Sistemas Operacionais</div>
          <div><img src="../static/image/arrow.png" alt="" />Redes e infraestrutura</div>
          <h4>Desenvolvimento</h4>
          <div><img src="../static/image/arrow.png" alt="" />Front-end</div>    
          <div><img src="../static/image/arrow.png" alt="" />Back-end</div>
          <div><img src="../static/image/arrow.png" alt="" />Banco de Dados</div>
          <a class="conversar" href="{{ url_for('portfolio') }}"
          >Ver projetos <img src="../static/image/projetos.png" alt=""
        /></a>
        </div>
      </div>
      <div class="educacao-cursos-box">
        <div class="habilidades">
            <h3>Cursos</h3>
              <div class="habilidades-container">
                <div><img src="../static/image/arrow.png" alt="">ERP</div>
                <div><img src="../static/image/arrow.png" alt="">Capacitação técnica</div>
                <div><img src="../static/image/arrow.png" alt="">Proteção de dados</div>
                <div><img src="../static/image/arrow.png" alt="">Redes e Protocolos</div>
                <div><img src="../static/image/arrow.png" alt="">Sistemas de Ticketing</div>
                <div><img src="../static/image/arrow.png" alt="">PHP</div>
              </div>
        </div>
        <div class="educacao-box">
          <h3>Formações</h3>
          <div class="educacao-box-formacao">
              <h4>Análise e Desenvolvimento de Sistemas</h4>
              <h1>2024 - Atual</h1>
              <h1>UNICV</h1>
          </div>
          <div class="educacao-box-formacao">
              <h4>Engenharia da Computação</h4>
              <h1>2019 - 2024</h1>
              <h1>UNIFACS</h1>
          </div>
        </div>
        <div class="cursos-box">
          <h3>Habilidades</h3>
          <div class="cursos-imagens">
            <div class="carrossel">
              <div class="container">
                <img src="../static/image/html-5.png" alt="HTML" />
                <img src="../static/image/css.png" alt="CSS" />
                <img src="../static/image/js.png" alt="JS" />
                <img src="../static/image/react.png" alt="REACT" />
                <img src="../static/image/python.png" alt="PYTHON" />
                <img src="../static/image/sql.png" alt="SQL" />
                <img src="../static/image/boot.png" alt="Bootstrap" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endblock %}
  </body>
</html>
